@page
@model ASPNET_inlamning.Pages.Events.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Events</h1>
<p>
    <a asp-page="Create">Create new event</a>
</p>
<div>
    @foreach (var item in Model.Event)
    {
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="heading-@item.EventID">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-@item.EventID" aria-expanded="true" aria-controls="collapse-@item.EventID">
                            <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                        </button>
                    </h2>
                </div>

                <div id="collapse-@item.EventID" class="collapse" aria-labelledby="heading-@item.EventID" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>@Html.DisplayFor(modelItem => item.Description)</p>
                        <p>@Html.DisplayFor(modelItem => item.Place)</p>
                        <p>@Html.DisplayFor(modelItem => item.Address)</p>
                        <p>@Html.DisplayFor(modelItem => item.Date)</p>
                        <p>@Html.DisplayFor(modelItem => item.SpotsAvalible)</p>
                        <a asp-page="./Details" asp-route-id="@item.EventID" class="btn btn-primary">Join</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
